@model IEnumerable<InnovaTest.Core.Models.Person>

@{
    ViewBag.Title = "People List";
}

<h2>People List</h2>

<p>
    @Html.ActionLink("Create New Person", "Create") |
    @Html.ActionLink("Export to PDF", "ExportToPdf")
</p>

@using (Html.BeginForm("Index", "People", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ImagePath))
                {
                    <img src="@Url.Content(item.ImagePath)" alt="Profile Picture" width="100" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }
</table>